<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">

  <mat-sidenav (closed)="onClose()" class="sidenav" #sidenav [mode]="'over'" [position]="'end'" [fixedInViewport]="true" [fixedTopGap]="0"
    [fixedBottomGap]="0">

    <div class="container-fluid">
      <h4 class="mb-3">Places types shown: </h4>
      <div class="row" *ngFor="let type of types">
        <div class="col">
          <mat-checkbox [checked]="type.enabled" (change)="onCheck($event, type)">{{type.type}}</mat-checkbox>
        </div>
      </div>
    </div>

  </mat-sidenav>


  <mat-sidenav-content class="sidenav-content">

    <div class="container-fluid">
      <div class="welcome-header">
        <h1>Welcome to <img [height]="120" id="repsly-img" src="../assets/repsly_logo.jpg"/>{{ title }}!</h1>
      </div>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
